.about-me {
    background-color: #dacec7;
    min-height: 100vh;

    span {
        font-weight: bold;
    }

    img {
        width: 200px;
        opacity: 0.8;
        border-radius: 100px;
        
    }



    .col .card {
        font-size: 0.9rem;
    }
}