// Icon colors

.fa-html5 {
    color: #e34f26;
}

.fa-css3-alt {
    color: #3294f7;
}

.fa-js-square {
    color: #f7df1e;
}

.fa-bootstrap {
    color: #533b78;
}

.fa-sass {
    color: #c05188;
}

.fa-git-alt {
    color: #f74d21;
}


.skills {
    background: url(../images/Developers.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // min-height: 100vh;
}